<div class="container-edit flex-column">
  <div class="edit-title row g-3 text-center">
    <div class="col-3">
      <p>*必填欄位</p>
    </div>
    <div class="col-9">
      <h3>請修改你的支出</h3>
    </div>
  </div>
  <form action="/record/{{ expense._id }}?_method=PUT" method="POST" class="edit-form">
    <div class="row">
      <div class="edit-group-item col-4">
        <label for="name">名稱<span class="text-danger">*</span>:</label>
      </div>
      <div class="edit-group-item col-6">
        <input type="text" name="name" value="{{expense.name}}" required />
      </div>
    </div>
    <div class="row">
      <div class="edit-group-item col-4">
        <label for="name">日期<span class="text-danger">*</span>:</label>
      </div>
      <div class="edit-group-item col-6">
        <input type="date" name="date" value="{{dateFormat expense.date}}" required />
      </div>
    </div>
    <div class="row">
      <div class="edit-group-item col-4">
        <label for="category">類別<span class="text-danger">*</span>:</label>
      </div>
      <div class="edit-group-item col-6">
        <select class="category-dropdown" name="category">
          {{#each categories}}
          <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="edit-group-item col-4">
        <label for="amount">金額<span class="text-danger">*</span>:</label>
      </div>
      <div class="edit-group-item col-6">
        <input type="number" name="amount" value="{{expense.amount}}" required />
      </div>
    </div>

    <div class="row g-3 align-items-end">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-block mt-3 record-btn">送出</button>
      </div>
    </div>
  </form>
</div>