<div class="container" style="width: 30%;">
  <!-- sort bar-->
  <div class="form-group my-3 d-flex justify-content-center pt-3">
    <form action="/">
      <select class="category-dropdown" name="categorySelector" onchange="this.form.submit()">
        <option value="0">所有類別</option>
        {{#each categories}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </form>

  </div>
  <div>
    <div class="d-flex justify-content-around my-2">
      <span>總金額:</span>
      <h1 class="d-inline" style="color: rgb(255, 64, 0);"><b>{{totalAmount}}</b></h1>
    </div>
  </div>
  <ul class="list-group">
    {{#each expenses}}
    <li>
      <div class="item-group">
        <div class="item-name d-inline px-1 col-6">
          <i class="{{showIcon this.category}}"></i>
          <span>{{this.name}}</span>
          <span class="expense-date">{{dateFormat this.date}}</span>
        </div>
        <div class="item-amount d-inline col-2">
          <span>{{this.amount}}</span>
        </div>
        <div class="edit-del d-inline px-1 col-4 text-end">
          <a style="color: grey; text-decoration: none;" href="/record/{{this._id}}/edit">修改</a>
          <form action="/record/{{ this._id }}?_method=DELETE" style="display: inline" method="POST">
            <button class="btn btn-sm btn-danger del-btn" style="display: inline" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="d-flex justify-content-center mt-5">
    <a href="/record/new"><button class="btn new-btn mb-3">新增支出</button></a>
  </div>
</div>